.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.post__top {
    display: flex;
    position:relative;
    align-items: center;
    padding: 15px;
}
.post__avatar {
    margin-right: 10px;
    height: 100px;
    
}
.post__topInfo {
    margin-left: 30px;
}
.post__topInfo > h2 {
    font-size: 30px;
    margin-right: 10px;
}
.post__topInfo > title {
    font-size: 30px;
    margin-right: 10px;
}

.post__topInfo > p {
    font-size: small;
    color: gray;
}
.post__bottom {
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 10px 25px;
}
.post__image > img {
    width: 180px;
}

.badge {
    background-color: rgb(7, 6, 3);
    color: white;
    width: 150px;
    height: 30px;   
    margin-left: 400px;
    border-radius: 25px;
    margin-top: -50px;
    padding-bottom: 10px;
    text-align: center;
}
.badge1 {
    background-color: rgb(230, 230, 230);
    color: black;
    width: 150px;
    height: 30px;
    text-align: center;   
    border-radius: 5px;
    
}


.post__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: blue;
    cursor: pointer;
    padding: 15px;
}

.post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    flex: 1;
}
.post__option > p {
    margin-left: 10px;
}
.post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}