.feed {
    flex: 1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__input {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    
    border-radius: 33px;
}